In [3]:
print("Hello From Jupyter")

Hello From Jupyter

Hello From Jupyter

In [4]:
name = "omar"
num = 16 
print(name)
print(num)

omar
16

In [5]:
name

'omar'

In [6]:
num

16

In [9]:
name

'omar'

In [8]:
print(name)
print(num)
print('Difference between print and variable to display value')

omar
16
Difference between print and variable to display value

In [19]:
   
num_of_apple = 5
if num_of_apple  < 1 : 
    print("You not have any apples")
elif num_of_apple == 1 : 
    print("You have one apple ")
elif num_of_apple < 4 : 
    print("You have few apples")
else : 
    print("You have many Apples !")

You have many Apples !

In [52]:
fruits  = ["apple", "Mango", "Banana" , "Kiwi"]
fruits
print(fruits[1]) 
print(fruits[0])
print("The last item in The list : ")
print(fruits[-1])
print(fruits[0:3])
print(fruits[1:3])
print(fruits[0:4])
print(fruits[0:6])
print("=====================")
print(fruits[:2])
print(fruits[2:])
print(fruits[3:])
print(fruits[0:]) 
print(fruits[:0]) 
print(fruits[1:])

Mango
apple
The last item in The list :
Kiwi
['apple', 'Mango', 'Banana']
['Mango', 'Banana']
['apple', 'Mango', 'Banana', 'Kiwi']
['apple', 'Mango', 'Banana', 'Kiwi']
=====================
['apple', 'Mango']
['Banana', 'Kiwi']
['Kiwi']
['apple', 'Mango', 'Banana', 'Kiwi']
[]
['Mango', 'Banana', 'Kiwi']

In [56]:
fruits.append("Watermelon")
fruits
fruits.insert(2 , "Peache")
fruits

['apple',
 'Mango',
 'Peache',
 'Peache',
 'Banana',
 'Kiwi',
 'Watermelon',
 'Watermelon',
 'Watermelon',
 'Watermelon']

In [58]:
del fruits[2]

In [61]:
del fruits[-1]
fruits

['apple', 'Mango', 'Banana', 'Kiwi', 'Watermelon', 'Watermelon']

In [63]:
fruits
del fruits[5]

In [64]:
fruits

['apple', 'Mango', 'Banana', 'Kiwi', 'Watermelon']

In [69]:
ls = [1 , 2 , 3  , 4  , "Omar" , True , 3.00]
ls

[1, 2, 3, 4, 'Omar', True, 3.0]

In [70]:
student_names = ["Omar", "Abdallah" , "Hassan" , "Mahmoud"]

In [74]:
for student_name in student_names : 
    print("Hello, " + student_name + "!")

Hello, Omar!
Hello, Abdallah!
Hello, Hassan!
Hello, Mahmoud!

In [77]:
long_names=[]
for student_name in student_names : 
    if len(student_name) > 4 : 
        long_names.append(student_name)

In [78]:
long_names

['Abdallah', 'Hassan', 'Mahmoud']

In [79]:
student_pairs = [] 
for student_name1 in student_names : 
    for student_name2 in student_names :
        student_pairs.append ((student_name1 , student_name2 ))
student_pairs

[('Omar', 'Omar'),
 ('Omar', 'Abdallah'),
 ('Omar', 'Hassan'),
 ('Omar', 'Mahmoud'),
 ('Abdallah', 'Omar'),
 ('Abdallah', 'Abdallah'),
 ('Abdallah', 'Hassan'),
 ('Abdallah', 'Mahmoud'),
 ('Hassan', 'Omar'),
 ('Hassan', 'Abdallah'),
 ('Hassan', 'Hassan'),
 ('Hassan', 'Mahmoud'),
 ('Mahmoud', 'Omar'),
 ('Mahmoud', 'Abdallah'),
 ('Mahmoud', 'Hassan'),
 ('Mahmoud', 'Mahmoud')]

In [80]:
student_pairs2 = [] 
for student_name1 in student_names : 
    for student_name2 in student_names :
        if student_name1 != student_name2 : 
            student_pairs2.append ((student_name1 , student_name2 ))
student_pairs2

[('Omar', 'Abdallah'),
 ('Omar', 'Hassan'),
 ('Omar', 'Mahmoud'),
 ('Abdallah', 'Omar'),
 ('Abdallah', 'Hassan'),
 ('Abdallah', 'Mahmoud'),
 ('Hassan', 'Omar'),
 ('Hassan', 'Abdallah'),
 ('Hassan', 'Mahmoud'),
 ('Mahmoud', 'Omar'),
 ('Mahmoud', 'Abdallah'),
 ('Mahmoud', 'Hassan')]

In [87]:
student_grade = ("Omar" , "C++" , "A-")
student_grade[0:]

('Omar', 'C++', 'A-')

In [86]:
student_grade.append("A+")

AttributeError: 'tuple' object has no attribute 'append'

In [89]:
student_grade [3] = "24"

TypeError: 'tuple' object does not support item assignment

In [94]:
student_name,subject,grade  = student_grade 
print (student_name)
print (subject)
print(grade)

Omar
C++
A-

In [102]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]
for student_name  , subject  , grade  in student_grades : 
    if grade.startswith('A'):
        print ('Congratulations ' ,  student_name  ,  " on getting " , grade  , " in "  , subject)
for student_grade  in student_grades : 
    if student_grade[2].startswith('A'):
        print ('Congratulations ' , student_grade [0]  ,  " on getting " , student_grade[2]  , " in "  , student_grade[1])

Congratulations  Alice  on getting  A  in  Spanish
Congratulations  Dave  on getting  A-  in  Italian
Congratulations  Alice  on getting  A  in  Spanish
Congratulations  Dave  on getting  A-  in  Italian

In [111]:
pr = {
    'Omar' : "Dart , C++ , Java" , 
    'Ahmed' : "Java , C#" , 
    'Abdallah' : 'Nodejs , PHP ,Python' ,
    'Mahamed': 'C++ , C# , Go',
}
print ("Print languages of Omar & Abdallah")
print(pr['Omar']) 
print(pr['Abdallah'])

Print languages of Omar & Abdallah
Dart , C++ , Java
Nodejs , PHP ,Python

In [112]:
pr['Ramy']

KeyError: 'Ramy'

In [114]:
'Ramy' in pr

False

In [116]:
'Omar' in pr

True

In [118]:
'omar' in pr

False

In [120]:
pr['Ali'] = 'Python , C++'
pr

{'Omar': 'Dart , C++ , Java',
 'Ahmed': 'Java , C#',
 'Abdallah': 'Nodejs , PHP ,Python',
 'Mahamed': 'C++ , C# , Go',
 'Ali': 'Python , C++'}

In [123]:
pr['Khaled'] = 'Spanish'
pr

{'Omar': 'Dart , C++ , Java',
 'Ahmed': 'Java , C#',
 'Abdallah': 'Nodejs , PHP ,Python',
 'Mahamed': 'C++ , C# , Go',
 'Ali': 'Python , C++',
 'Khaled': 'Spanish'}

In [126]:
del pr['Khaled']

KeyError: 'Khaled'

In [128]:
pr

{'Omar': 'Dart , C++ , Java',
 'Ahmed': 'Java , C#',
 'Abdallah': 'Nodejs , PHP ,Python',
 'Mahamed': 'C++ , C# , Go',
 'Ali': 'Python , C++'}

In [130]:
pr['Ali'] = 'Python'

In [132]:
pr

{'Omar': 'Dart , C++ , Java',
 'Ahmed': 'Java , C#',
 'Abdallah': 'Nodejs , PHP ,Python',
 'Mahamed': 'C++ , C# , Go',
 'Ali': 'Python'}

In [135]:
for key in pr : 
    print (key + " : "+  pr[key])

Omar : Dart , C++ , Java
Ahmed : Java , C#
Abdallah : Nodejs , PHP ,Python
Mahamed : C++ , C# , Go
Ali : Python

In [137]:
for key , value  in pr.items() : 
    print(key  , " : "  , value )

Omar  :  Dart , C++ , Java
Ahmed  :  Java , C#
Abdallah  :  Nodejs , PHP ,Python
Mahamed  :  C++ , C# , Go
Ali  :  Python

In [142]:
student_grades

[('Alice', 'Spanish', 'A'),
 ('Bob', 'French', 'C'),
 ('Carol', 'Italian', 'B+'),
 ('Dave', 'Italian', 'A-')]

student_name , subject , grade = student_grades[0]

In [147]:
print (student_name , subject ,grade)

Dave Italian A-

In [151]:
record = {
    'name' : 'Dave' , 
    'subject': 'Italian', 
    'grade' : 'A-', 
}
print(record['name'] , 'got grade of' , record ['grade']  , "in" , record['subject'])

Dave got grade of A- in Italian

In [153]:
student_grades

[('Alice', 'Spanish', 'A'),
 ('Bob', 'French', 'C'),
 ('Carol', 'Italian', 'B+'),
 ('Dave', 'Italian', 'A-')]

In [156]:
student_grades[1][2]

'C'

In [158]:
student_grades

[('Alice', 'Spanish', 'A'),
 ('Bob', 'French', 'C'),
 ('Carol', 'Italian', 'B+'),
 ('Dave', 'Italian', 'A-')]

In [162]:
student_grades_records=[]
for student_name , subject , grade  in student_grades : 
    record = {
        "name": student_name , 
        "subject" : subject , 
        "grade" : grade ,
    }
    student_grades_records.append(record)
print("List of Dictionary about students grades : ")
student_grades_records

List of Dictionary about students grades :

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]

In [164]:
student_grades_records[1]

{'name': 'Bob', 'subject': 'French', 'grade': 'C'}

In [166]:
student_grades_records[2]['grade']

'B+'

In [168]:
student_grades_records[2]['name']

'Carol'

In [171]:
for record in student_grades_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [174]:
student_grades

[('Alice', 'Spanish', 'A'),
 ('Bob', 'French', 'C'),
 ('Carol', 'Italian', 'B+'),
 ('Dave', 'Italian', 'A-')]

In [176]:
record

{'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}

In [179]:
r= {
    1 : {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'} , 
    2 : {'name': 'Khaled', 'subject': 'English', 'grade': 'B+'}, 
    3 :{'name': 'Ahmed', 'subject': 'C++', 'grade': 'D'},
}
r

{1: {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'},
 2: {'name': 'Khaled', 'subject': 'English', 'grade': 'B+'},
 3: {'name': 'Ahmed', 'subject': 'C++', 'grade': 'D'}}

In [182]:
r[2]['name']

'Khaled'

In [184]:
student_grades

[('Alice', 'Spanish', 'A'),
 ('Bob', 'French', 'C'),
 ('Carol', 'Italian', 'B+'),
 ('Dave', 'Italian', 'A-')]

In [186]:
student_grades_key = {}
for student_name , subject , grade in student_grades : 
    student_grades_key [student_name , subject] = grade
student_grades_key

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-'}

In [188]:
student_grades_key['Alice', 'Math'] = 'A'

In [191]:
student_grades_key

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A'}

In [193]:
student_grades_key['Alice', 'History'] = 'B'

In [194]:
student_grades_key

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}